.architectury-transformer/
.vscode/
.gradle/
build/
eclipse/
run/
out/
asm/
bin/
.idea/
.metadata/
.settings/
libs/
logs/
*/src/common

*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project
*.class

Thumbs.db
