.architectury-transformer/
.vscode/
.gradle/
build/
.eclipse/
run/
out/
asm/
bin/
.idea/
.metadata/
.settings/
libs/
logs/

*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project
*.factorypath

Thumbs.db

src/buildConst/
docs/dokka/
docs/javadoc/
.b2/
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
