.architectury-transformer/
.vscode/
.gradle/
build/
eclipse/
run/
out/
asm/
bin/
.idea/
.eclipse/
.metadata/
.settings/
libs/
logs/

*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project
*.class
*.factorypath
*.launch

Thumbs.db

src/buildConst/
docs/dokka/
docs/javadoc/
.b2/

release
