name: docs
on:
  push:
    branches:
      - 'dev/master'
    paths:
      - 'docs/**'
      - 'src/api/**'
      - 'build.gradle.kts'
      - 'mkdocs.yml'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
      - uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: true
      - run: ./gradlew apiJavadoc --max-workers=1
        env:
          GIT_HASH: ${{ steps.vars.outputs.git_hash }}
      - run: pip install mkdocs-material
      - run: mkdocs gh-deploy --force
      - run: ./gradlew --stop
