name: head
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '*.*'
    paths-ignore:
      - 'docs/**'
      - 'mkdocs.yml'
      - '.github/ISSUE_TEMPLATE/*'
      - 'CHANGELOG.txt'
  pull_request:
    branches:
      - '**'
    tags-ignore:
      - '*.*'
    paths-ignore:
      - 'docs/**'
      - 'mkdocs.yml'
      - '.github/ISSUE_TEMPLATE/*'
      - 'CHANGELOG.txt'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - id: vars
        run: |
          echo "git_hash=${GITHUB_SHA:0:7}" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
      - uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: ${{ github.repository != 'badasintended/wthit' }}
      - run: ./gradlew build --max-workers=1
        env:
          GIT_HASH: ${{ steps.vars.outputs.git_hash }}
      - uses: actions/upload-artifact@v4
        with:
          name: wthit-${{ steps.vars.outputs.git_hash }}
          path: "./platform/*/build/libs/**.jar"
      - run: ./gradlew --stop
